.site-menu-container {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 10rem;
  height: calc(100% - 4rem);
}

.site-menu {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 10rem;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.site-menu :global(.ant-menu-item) {
  text-align: left;
}
