.site-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-logo {
    height: 3rem;
    padding: 1rem 1.5rem;
}

.header-search {
    width: 70%;
    max-width: 50rem;
    padding: 2rem;
}

.header-avatar{
    padding: 1rem;
}