.outlet-container {
  display: flex;
  margin-left: 10rem;
  width: calc(100vw - 10rem);
  justify-content: center;
}

.simple-outlet-container {
  display: flex;
  margin-left: 1rem;
  width: calc(100vw - 10rem);
  justify-content: center;
}
